html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
		link(rel='icon', type='image/png', href='/favicon32.png')
		link(rel="stylesheet", href="/custom.css")

	body
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/transactions">Transactions</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/users">Users</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/books">Books</a>
			</li>
		</ul>
		block head
